.container {
  padding: 1rem;
  .card-container {
    margin: 1rem;
    .thumbnail-container {
      display: flex;
      align-items: center;
      vertical-align: middle;
      justify-content: center;
      .thumbnail {
        max-height: 50px;
        width: auto;
      }
    }
  }
}
