mat-form-field {
  width: 100%;
}

.container {
  padding: 1rem;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  .card-container {
    margin: 1rem;
    .link {
      color: black;
      text-decoration: none;
    }
    .thumbnail-container {
      display: flex;
      align-items: center;
      vertical-align: middle;
      justify-content: center;
      .thumbnail {
        max-height: 50px;
        width: auto;
      }
    }
  }
}
