<div class="container">
    <mat-card class="card-container">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="70%">
                <h2>{{(article$ | async)?.title}}</h2>
            </div>
            <div *ngIf="(article$ | async)?.thumbnail.endsWith('jpg')" fxFlex="20%" class="thumbnail-container">
                <img [src]="(article$ | async)?.thumbnail" class="thumbnail" />
            </div>
        </div>
    </mat-card>

    <mat-card class="card-container">
        <comments class="comments-element" [comments]="(comments$ | async)"></comments>
    </mat-card>
<!--    <mat-card *ngFor="let news of this.list$ | async  | orderBy: 'data.created_utc': true" class="card-container">-->
<!--        <div fxLayout="row" fxLayoutAlign="space-between">-->
<!--            <div fxFlex="70%">-->
<!--                <h2>{{news.data.title}}</h2>-->
<!--                <a class="link" [routerLink]="[news.data.permalink]">See article and coments</a>-->
<!--            </div>-->
<!--            <div *ngIf="news.data.thumbnail.endsWith('jpg')" fxFlex="20%" class="thumbnail-container">-->
<!--                <img src={{news.data.thumbnail}} class="thumbnail" />-->
<!--            </div>-->
<!--        </div>-->
<!--    </mat-card>-->
</div>
